body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d2d2d;
}

#quote-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #d2b48c;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #38352b;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

#quote {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #38352b;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #38352b;
    color: #d2b48c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6b675e;
}

@media only screen and (max-width: 600px) {
    #quote-container {
        max-width: 90%;
    }
}